@charset "UTF-8";
:root {
  --btnColors: #B28756;
  --backgroundblack: #111419;
  --backgroundwhite: #FFF;
}

.light {
  background-color: var(--backgroundwhite);
  transition: 0.5s;
}

.dark {
  transition: 0.5s;
}
.dark .menu-nav {
  background-color: #111419;
}
.dark #theme:hover {
  background-color: #FFF !important;
  color: #111419;
}
.dark .web {
  color: #FFF !important;
}
.dark .banner-button {
  color: #FFF !important;
}
.dark .btnCurriculo a {
  color: #FFF !important;
}
.dark .sobre-mim {
  background-color: #282A36 !important;
}
.dark .titulo {
  color: #FFF !important;
}
.dark #habilidades {
  background-color: #282A36 !important;
}
.dark #content-projects {
  background-color: #282A36 !important;
}
.dark .title {
  color: #FFF !important;
}
.dark .projects-title {
  color: #FFF !important;
}
.dark .projects-description {
  color: #FFF !important;
}
.dark .btn-preview {
  border: 2px solid #fff !important;
  color: #FFF !important;
}
.dark .btn-preview a {
  color: #FFF !important;
}
.dark .projects {
  border: 4px solid #6E07F3 !important;
}
.dark footer {
  color: #FFF !important;
}

* {
  padding: 0;
  box-sizing: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

body {
  background-color: var(--backgroundblack);
}

a {
  list-style: none;
  text-decoration: none;
  list-style: none;
  color: white;
}

.hide {
  display: none;
}

.menu-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  color: red;
  background-color: #FFFFFF;
  transition: all 0.5s;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.menu-nav #theme {
  font-size: 18px;
  margin: 10px;
  width: 160px;
  border-radius: 20px;
  border: none;
  padding: 0.8rem;
  background-color: #6E07F3;
  color: #FFF;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
}
.menu-nav #theme:hover {
  transition: 0.5s;
  background-color: #111419;
  color: #FFF;
}
.menu-nav ul {
  display: flex;
  gap: 1.5rem;
}
.menu-nav li {
  display: flex;
  border: 2px solid #6E07F3;
  border-radius: 20px;
  justify-content: center;
  list-style: none;
  text-decoration: none;
  font-size: 1.3rem;
  padding: 8px;
  width: 140px;
  cursor: pointer;
}
.menu-nav li:hover {
  transition: 0.5s;
  background-color: #6E07F3;
}
.menu-nav li:hover .links {
  color: white;
}
.menu-nav .links {
  color: #6E07F3;
  font-size: 18px;
  text-decoration: none;
}
.menu-nav .links:hover {
  border-radius: 18px;
  color: white;
}

.banner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.banner a {
  text-decoration: underline;
}
.banner .banner-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.banner .banner-txt .web {
  font-size: 65px;
  color: #31343C;
}
.banner .banner-txt .comun {
  color: #B28756;
  font-size: 30px;
}
.banner .banner-txt button {
  margin: 10px;
  width: 140px;
  border-radius: 20px;
  border: none;
  padding: 8px;
  background-color: #B28756;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 2rem;
}
.banner .content-btn {
  display: flex;
  justify-content: center;
}
.banner .content-btn .banner-button {
  border: 2px solid #6E07F3;
  background: none;
  color: #111419;
  font-size: 18px;
  padding: 8px;
}
.banner .content-btn .banner-button:hover {
  transition: 0.5s;
  background-color: #6E07F3;
  color: #FFF;
}
.banner .content-btn .btnCurriculo {
  border: 2px solid #6E07F3;
  background: none;
  text-decoration: none; /* Adicionando esta linha para remover o sublinhado padrão */
  color: #111419;
  font-size: 18px;
  padding: 8px;
}
.banner .content-btn .btnCurriculo:hover {
  background-color: #6E07F3;
}
.banner .content-btn .btnCurriculo:hover a {
  transition: 0.5s;
  color: #FFF;
}
.banner .content-btn .btnCurriculo a {
  list-style: none;
  text-decoration: none;
  color: #111419;
}
.banner .contato-icon {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 4rem;
  margin-top: 3rem;
}
.banner .contato-icon .img-contato {
  cursor: pointer;
  width: 70px;
  height: 70px;
}
.banner .contato-icon .img-git {
  cursor: pointer;
  width: 80px;
  height: 75px;
}
.banner .contato-icon .img-contato:hover {
  scale: 1.2;
  transition: all 0.5s;
}
.banner .contato-icon .img-git:hover {
  scale: 1.2;
  transition: all 0.5s;
}

.sobre-mim {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #FFF;
  margin: 0 auto;
  border-radius: 10px;
  margin: 20px 20px;
}
.sobre-mim .titulo {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 3rem;
  text-transform: uppercase;
  margin-top: 3rem;
  font-size: 25px;
  color: #111419;
}
.sobre-mim #content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
  margin-bottom: 2rem;
  margin: 0 auto;
  margin-bottom: 5rem;
}
.sobre-mim #content .text-left {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  color: #FFF;
  border: 2px solid #6E07F3;
  border-radius: 15px;
  padding: 20px;
  background-color: #6E07F3;
  box-shadow: 5px 5px 20px #6E07F3;
}
.sobre-mim #content .text-left .text-left, .sobre-mim #content .text-left p {
  word-wrap: break-word;
  font-size: 22px;
  line-height: 50px;
}
.sobre-mim #content .text-left button {
  width: 140px;
  border-radius: 20px;
  border: none;
  padding: 1rem;
  background-color: #B28756;
  margin-top: 3rem;
  cursor: pointer;
  color: #FFF;
  font-size: 18px;
}
.sobre-mim #content .div-foto {
  display: flex;
  align-items: center;
}
.sobre-mim #content .div-foto .foto {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#habilidades {
  background-color: #FFF;
  margin-top: 2rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 20px;
  border-radius: 10px;
  margin: 20px 20px;
}
#habilidades #skills {
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  border-radius: 10px;
  min-height: 150px;
  background-color: #6E07F3;
  box-shadow: 5px 5px 20px #6E07F3;
}
#habilidades #skills .titulo-skills {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #FFF;
  font-size: 32px;
  margin-left: 4rem;
  text-transform: uppercase;
  margin-top: 14px;
  margin-bottom: 14px;
}
#habilidades #skills .skills-content {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
#habilidades #skills .skills-content .container-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#habilidades #skills .skills-content .icon {
  display: flex;
  width: 80px;
  height: 80px;
  margin-left: 20px;
}
#habilidades #skills .skills-content .icon:hover {
  transform: scale(1.2);
  cursor: pointer;
  transition: all 0.2s;
}
#habilidades .soft-skills {
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 150px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 5px 5px 20px #6E07F3;
  background-color: #6E07F3;
}
#habilidades .soft-skills .titulo-soft {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 32px;
}
#habilidades .soft-skills .container-soft {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
#habilidades .soft-skills .container-soft ul li {
  color: #FFF;
  text-decoration: none;
  list-style: none;
  padding: 5px;
  font-weight: 700;
  font-size: 22px;
}

#content-projects {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #FFF;
  border-radius: 10px;
  margin: 20px 20px;
}
#content-projects .title {
  margin-top: 1.8rem;
  font-size: 38px;
}
#content-projects .projectsPai {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  max-width: 1600px;
}
#content-projects .projectsPai .btn-preview {
  border-radius: 20px;
  padding: 6px;
  width: 150px;
  cursor: pointer;
  border: 2px solid #6E07F3;
  background: none;
  margin-top: 10px;
  font-size: 22px;
}
#content-projects .projectsPai .btn-preview:hover {
  transition: 0.5s;
  background-color: #6E07F3;
}
#content-projects .projectsPai .btn-preview a {
  color: black;
}
#content-projects .projectsPai .btn-preview:hover a {
  color: #fff;
}
#content-projects .projectsPai .projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  border: 4px solid #dbd7e1;
  padding: 3rem;
  width: 50%;
  min-height: 280px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
#content-projects .projectsPai .projects .right {
  
}
#content-projects .projectsPai .projects .right, #content-projects .projectsPai .projects img {
  object-fit: cover;
  width: 250px;
  height: 100%;
}
#content-projects .projectsPai .projects .projects-title {
  color: black;
  display: flex;
  justify-content: center;
  font-size: 25px;
  text-decoration: underline;
}
#content-projects .projectsPai .projects .projects-description {
  display: flex;
  flex-wrap: wrap;
  color: black;
  margin-top: 2.5rem;
  font-size: 22px;
  line-height: 40px;
}
#content-projects .projectsPai .projects .projeto-buttons {
  display: flex;
  justify-content: space-evenly;
}
#content-projects .projectsPai .projects .git-icon {
  /*position: absolute;
  left: 50%;
  transform: translateX(-50%);*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  border-radius: 50% solid black;
  height: 50px;
  width: 50px;
}
#content-projects .projectsPai .projects .git-icon .git-icon-img:hover {
  scale: 1.2;
  transition: all 0.5s;
}
#content-projects .projectsPai .projects .git-icon .git-icon-img {
  width: 60px;
  height: 60px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: 120px;
  background-color: #282A36;
  color: #FFF;
  width: 100%;
  border-radius: 2px solid blue;
}
footer .footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
footer p {
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  align-items: center;
  font-size: 20px;
}

@media (max-width: 1050px) {
  .foto {
    display: none;
    /* width: 100px !important;
     height: 100px !important;*/
  }
}
@media (max-width: 750px) {
  .ulMenu {
    display: none !important;
  }
}
@media (max-width: 920px) {
  .menu-nav {
    display: flex;
    flex-direction: column;
    height: 120px;
  }
  .right {
    display: none !important;
  }
  .projeto-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 920px) {
  .content {
    display: flex !important;
    flex-direction: column !important;
  }
}
@media (max-width: 920px) {
  .text-left {
    margin: 0 auto;
  }
}
@media (max-width: 920px) {
  #skills {
    display: flex;
    flex-direction: column;
  }
  .soft-skills {
    display: flex;
    flex-direction: column;
  }
  .skills-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .container-soft {
    display: flex;
    flex-direction: column;
  }
  .soft-skills {
    margin: 0 auto;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
  .titulo-skills {
    margin-right: 2rem;
  }
  .ulli {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .ulli li {
    color: #FFF;
  }
  .text-left, button {
    margin: 0 auto;
  }
}
@media (max-width: 515px) {
  .web {
    font-size: 35px !important;
  }
  .comun {
    font-size: 25px !important;
  }
  .links {
    font-size: 15px !important;
  }
  .text-left {
    display: flex !important;
    flex-wrap: wrap !important;
    max-width: 100% !important;
    word-wrap: break-word !important;
  }
}
@media (max-width: 400px) {
  .git-icon {
    display: none;
  }
}
@media (max-width: 1215px) {
  /* .projects{
       display: flex;
       flex-direction: column;
       flex: 1;
       flex-wrap: wrap;
   }*/
}

/*# sourceMappingURL=style.css.map */
